<div class="register-employee">
    <h4>Register employee</h4>
    <form>
        <div class="registerfield">
            <mat-form-field class="full-width">
                <mat-label>Year</mat-label>
                <input type="text" placeholder="Year" class="full-width">
              </mat-form-field>
        </div>
        <div class="registerfield">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input type="text" placeholder="First Name" class="full-width">
              </mat-form-field>
        </div>
        <div class="registerfield">
            <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input type="text" placeholder="Last Name" class="full-width">
              </mat-form-field>
        </div>
        <div class="registerfield">
            <mat-form-field class="full-width">
                <mat-label>email</mat-label>
                <input type="text" placeholder="email" class="full-width">
              </mat-form-field>
        </div>
        <div class="scan">
            <img src="./assets/fingerprinticon.png" alt="fingerprinticon" class="icon">
            <button>Scan</button>

        </div>
    </form>
</div>



