  .logo{
    width: 170px;
  }
  .header{
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
  }
  .button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
 