.toolbar{
    padding: 15px;
}
button{
        border-radius: 10px;
        font-size: 16px;
        background-color: transparent;
        padding: 10px;
        transition-duration: 0.4s;
        margin-right: 10px;
        border-color: rgb(221, 246, 247)
    }
button:hover{
        background-color: #49beb7;
        cursor: pointer;
    }
button:focus{
        background-color: rgb(144, 206, 206);
    }
